@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using Radio.ViewModels;
@using Radio.Models
@model IndexViewModels
@addTagHelper "*,  Radio"


<h2>Cars</h2>
<div class="container">
    <form method="get" role="form" class="form-horizontal">

        <div class="form-group">

            <label class="control-label">Артист: </label>
            @Html.TextBox("Name", Model.FilterView.SelectedNameS, htmlAttributes: new { @class = "form-control" })

            <label class="control-label">Описание: </label>
            @Html.TextBox("Description", Model.FilterView.SelectedDescription, htmlAttributes: new { @class = "form-control" })

            <br>
            <input type="submit" value="Отфильтровать" class="btn btn-default" />
        </div>
    </form>
</div>
<br>

<table class="table">
    <thead>
        <tr>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSSort">Артист</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.GroupIdSort">Описание</a></th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Artists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
</p>
<page-link page-model="Model.PageViewModel" page-action="Index"></page-link>